<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Slider</title>
    <link href="style.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="l-grid">
        <div class="slider">
            <div class="slider__container">
                <div class="slider__base" id="slider-base">
                    <div class="slider__fill" id="slider-fill"></div>
                    <div class="slider__origin" id="slider-origin">
                        <div class="slider__thumb" id="slider-thumb"></div>
                    </div>
                </div>
            </div>
            <div class="slider__output" id="slider-output">40</div>
        </div>
        <!-- <input type="range" min="0" max="10" style="width:80%; margin-top: 4rem;" /> -->
    </div>
    <script src="main.js"></script>
</body>
</html>