<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Slider</title>
    <link href="style.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="l-grid">
        <div class="slider">
            <div class="slider__container">
                <div class="slider__base">
                    <div class="slider__left"></div>
                    <div class="slider__origin">
                        <div class="slider__thumb"></div>
                    </div>
                </div>
            </div>
            <output className="text-lg text-gray-800">10</output>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>